* {box-sizing: border-box;
   text-decoration: none;}


.conteiner {
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    
  }

.logo {
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    padding-top: 63px;
    margin-bottom: 50px;
    }

.link {font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
   
}    


.link:hover {color: #4BCAFF;}


.topmenu1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    
    
    color: #FFFFFF;
    background-color: #35444F;
    width: 1280px;
          height: 72px;
          
          /* justify-content: space-between; */
    
}   

/* .topmenu {display: flex; */
          
          /* justify-content: space-between; */
    
/* } */

.topmenu0 {
    display: flex;
    white-space: nowrap;
    text-align: center;
    border-right: solid #FFFFFF 1px ;
    /* border-left: solid #FFFFFF 1px ; */
    padding: 26px 38px 19px 38px;
    
    
}

.topmenu2 {border-left: solid #FFFFFF 1px ;
margin-left: 162px;
border-right: solid #FFFFFF 1px ;
padding: 26px 38px 19px 38px;

    }

.topmenu2:hover {background: #222F3A;
    }

.topmenu0:hover {background: #222F3A;}

.box {display: flex;width: 1280px;}

.leftmenu {
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    /* identical to box height, or 100% */
    
    display: flex;
    align-items: center;
    
    color: #495863;
    border: 1px solid #000000;
    width: 344px;
    height: 399px;
    margin-top: 48px;
    margin-right: 60px;

    }

.leftmenu0 {width: 342px;
    height: 81px;
padding-top: 26px;
padding-left: 44px;} 

.leftmenu0:hover {width: 342px;
    height: 75px;
padding-top: 27px;
padding-left: 70px;
background: #DBDBDB;
color:#000000;
} 

.image {
    width: 880px;
    height: 529px;
    margin-top: 48px;
    border: 1px solid #000000;
    /* display: flex; */
    /* padding: 75px 268px 73px 297px;  */
    /* margin: 30px 99px 37px 496px; */
}

.imagewrap { padding: 75px 0px 73px 297px;}

.imagewrap:hover {padding: 75px 0px 73px 297px;
 transform: scale(1.3);
transition: 3s;} 

.text {width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;}
.section-paragraf {box-sizing: border-box;
       margin-left: 405px;
    margin-top: 37px;
    width: 883px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;}


.bottommenu {display: flex;
    box-sizing: border-box;
    width: 1280px;
    height: 69px;background: rgba(99, 105, 110, 0.48);
margin-top: 54px;
margin-bottom: 30px;
} 
.bmenu { display: flex;}   

.bmenu0 {font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #0C1927;
 /* padding-left: 40px; */
 margin-left: 20px;
 margin-right: 20px;
}

.bmenu0:hover {font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: 
    #3181A6;
 margin-left: 20px;
 margin-right: 20px;
 
border-bottom:solid #3181A6 2px;
height: 60px;
text-align: center;
 /* text-decoration: underline; */
} 

.Copyright {font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    width: 190px;
    height: 69px;
    padding-top: 21px;
    margin-left: 135px;
    }    
